<form action='/create' method='POST'>
<input type="text"     placeholder='User Name'     value=name="user[user_name]"><br>
<input type="text"      placeholder='Note Title'    value=name="user[title]"><br>
<input type="textfield" placeholder='Content'  value=name="user[content]"><br>
																								ry

<input type="submit" placeholder='Submit' value="Submit">

</form>


